In [ ]:
import pandas as pd
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt

In [ ]:

from google.colab import files
uploaded = files.upload()

Saving tourism_with_id.csv to tourism_with_id (1).csv

In [ ]:
tourism = pd.read_csv('tourism_with_id.csv')
tourism = tourism.drop(['Description','Coordinate' ,'Unnamed: 11', 'Unnamed: 12'], axis=1)
tourism

,Place_Id,Place_Name,Category,City,Price,Rating,Time_Minutes,Lat,Long
0,1,Monumen Nasional,Budaya,Jakarta,20000,4.6,15.0,-6.175392,106.827153
1,2,Kota Tua,Budaya,Jakarta,0,4.6,90.0,-6.137645,106.817125
2,3,Dunia Fantasi,Taman Hiburan,Jakarta,270000,4.6,360.0,-6.125312,106.833538
3,4,Taman Mini Indonesia Indah (TMII),Taman Hiburan,Jakarta,10000,4.5,NaN,-6.302446,106.895156
4,5,Atlantis Water Adventure,Taman Hiburan,Jakarta,94000,4.5,60.0,-6.124190,106.839134
...,...,...,...,...,...,...,...,...,...
432,433,Museum Mpu Tantular,Budaya,Surabaya,2000,4.4,45.0,-7.433859,112.719906
433,434,Taman Bungkul,Taman Hiburan,Surabaya,0,4.6,NaN,-7.291347,112.739822
434,435,Taman Air Mancur Menari Kenjeran,Taman Hiburan,Surabaya,0,4.4,45.0,-7.275296,112.754938
435,436,Taman Flora Bratang Surabaya,Taman Hiburan,Surabaya,0,4.6,NaN,-7.294330,112.761753
436,437,Gereja Perawan Maria Tak Berdosa Surabaya,Tempat Ibadah,Surabaya,10000,4.8,NaN,-7.242076,112.736816

In [ ]:
tourism.isna().sum()

Place_Id          0
Place_Name        0
Category          0
City              0
Price             0
Rating            0
Time_Minutes    232
Lat               0
Long              0
dtype: int64

In [ ]:
tourism[tourism.isna().any(axis=1)]

,Place_Id,Place_Name,Category,City,Price,Rating,Time_Minutes,Lat,Long
3,4,Taman Mini Indonesia Indah (TMII),Taman Hiburan,Jakarta,10000,4.5,NaN,-6.302446,106.895156
6,7,Kebun Binatang Ragunan,Cagar Alam,Jakarta,4000,4.5,NaN,-6.312459,106.820187
7,8,Ocean Ecopark,Taman Hiburan,Jakarta,180000,4.0,NaN,-6.125802,106.836325
8,9,Pelabuhan Marina,Bahari,Jakarta,175000,4.4,NaN,1.078880,103.931398
9,10,Pulau Tidung,Bahari,Jakarta,150000,4.5,NaN,-5.803205,106.523791
...,...,...,...,...,...,...,...,...,...
426,427,Patung Buddha Empat Rupa,Budaya,Surabaya,0,4.3,NaN,-7.247284,112.801081
430,431,Taman Hiburan Rakyat,Taman Hiburan,Surabaya,5000,4.2,NaN,-7.252291,112.752001
433,434,Taman Bungkul,Taman Hiburan,Surabaya,0,4.6,NaN,-7.291347,112.739822
435,436,Taman Flora Bratang Surabaya,Taman Hiburan,Surabaya,0,4.6,NaN,-7.294330,112.761753
436,437,Gereja Perawan Maria Tak Berdosa Surabaya,Tempat Ibadah,Surabaya,10000,4.8,NaN,-7.242076,112.736816

In [ ]:
tourism[['Time_Minutes']].mean()

Time_Minutes    82.609756
dtype: float64

In [ ]:
tourism['Time_Minutes'].fillna(tourism['Time_Minutes'].mean(), inplace=True)

In [ ]:
tourism.isna().sum()

Place_Id        0
Place_Name      0
Category        0
City            0
Price           0
Rating          0
Time_Minutes    0
Lat             0
Long            0
dtype: int64

In [ ]:
mean_price = tourism[tourism['Price'] > 0]['Price'].mean()
tourism['Price'] = tourism['Price'].replace(0 , mean_price)

In [ ]:
tourism

,Place_Id,Place_Name,Category,City,Price,Rating,Time_Minutes,Lat,Long
0,1,Monumen Nasional,Budaya,Jakarta,20000,4.6,15.000000,-6.175392,106.827153
1,2,Kota Tua,Budaya,Jakarta,35910,4.6,90.000000,-6.137645,106.817125
2,3,Dunia Fantasi,Taman Hiburan,Jakarta,270000,4.6,360.000000,-6.125312,106.833538
3,4,Taman Mini Indonesia Indah (TMII),Taman Hiburan,Jakarta,10000,4.5,82.609756,-6.302446,106.895156
4,5,Atlantis Water Adventure,Taman Hiburan,Jakarta,94000,4.5,60.000000,-6.124190,106.839134
...,...,...,...,...,...,...,...,...,...
432,433,Museum Mpu Tantular,Budaya,Surabaya,2000,4.4,45.000000,-7.433859,112.719906
433,434,Taman Bungkul,Taman Hiburan,Surabaya,35910,4.6,82.609756,-7.291347,112.739822
434,435,Taman Air Mancur Menari Kenjeran,Taman Hiburan,Surabaya,35910,4.4,45.000000,-7.275296,112.754938
435,436,Taman Flora Bratang Surabaya,Taman Hiburan,Surabaya,35910,4.6,82.609756,-7.294330,112.761753
436,437,Gereja Perawan Maria Tak Berdosa Surabaya,Tempat Ibadah,Surabaya,10000,4.8,82.609756,-7.242076,112.736816

## **Mencari Lokasi Terdekat**

In [ ]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors

# Step 1: Load the dataset
#data = pd.read_csv('tourism_with_id.csv')

# Step 2: Preprocess the data (if needed)

# Step 3: Feature engineering
features = tourism[['Lat', 'Long']]

# Step 4: Feature scaling
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

# Step 5: Apply k-means clustering
k = 4  # Set the number of clusters
kmeans = KMeans(n_clusters=k, random_state=42)
kmeans.fit(scaled_features)

# Step 6: Assign cluster labels
cluster_labels = kmeans.labels_

#Lokasi = Jakarta
latitude = -6.175392	
longitude = 106.827153

# Step 7: Recommend locations
target_location = [latitude, longitude]  # Specify the target location
target_scaled = scaler.transform([target_location])

# Find the nearest neighbors
n_neighbors = 10  # Set the number of nearest neighbors to recommend
nbrs = NearestNeighbors(n_neighbors=n_neighbors, algorithm='ball_tree').fit(scaled_features)
distances, indices = nbrs.kneighbors(target_scaled)

# Get the recommended locations based on cluster labels
recommended_locations = tourism.iloc[indices[0]][['Place_Id', 'Place_Name', 'Lat', 'Long']]

print("Recommended Locations:")
recommended_locations

Recommended Locations:

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

    Place_Id                   Place_Name       Lat        Long
0          1             Monumen Nasional -6.175392  106.827153
23        24              Museum Nasional -6.176402  106.821590
39        40    Galeri Nasional Indonesia -6.178548  106.832772
19        20        Museum Taman Prasasti -6.172224  106.818969
62        63  Museum Kebangkitan Nasional -6.178352  106.838094
21        22              Masjid Istiqlal -6.170170  106.831390
14        15                   Pasar Seni -6.176687  106.841767
56        57       Taman Lapangan Banteng -6.170555  106.835038
69        70        Perpustakaan Nasional -6.181292  106.826872
22        23              Gereja Katedral -6.169225  106.833063